<app-header titulo="chat"></app-header>

<ion-searchbar placeholder="Buscar" (ionChange)="buscar($event)" animated></ion-searchbar>

<ion-content>
  <ion-list>
    <ion-item>
      <ion-avatar>
        <img src="/assets/spider-man.jpg" />
      </ion-avatar>
      <ion-label padding><h3 style="font-weight: bold;">Spider Man</h3><h5><strong>Tu: </strong>¡Hola Spider-Man! - 9:15 a.m</h5></ion-label>
      <ion-icon slot="end" src="/assets/entregado.svg"></ion-icon>
    </ion-item>

    <ion-item>
      <ion-avatar>
        <img src="/assets/wolverine.jpg" />
      </ion-avatar>
      <ion-label padding><h3 style="font-weight: bold;">Wolverine</h3><h5><strong>Tu: </strong>¿Cómo estás Wolverine? - 9:15 a.m</h5></ion-label>
      <ion-icon slot="end" src="/assets/Leído.svg"></ion-icon>
    </ion-item>

    <ion-item >
      <ion-avatar>
        <img src="/assets/captain.jpg" />
      </ion-avatar>
      <ion-label padding><h3 style="font-weight: bold;">Capitan America</h3><h5><strong>Tu: </strong>Gracias por tu trabajo - 9:15 a.m</h5></ion-label>
      <ion-icon slot="end" src="/assets/enviado.svg"></ion-icon>
    </ion-item>

    <ion-item>
      <ion-avatar>
        <img src="/assets/deadpool.jpg" />
      </ion-avatar>
      <ion-label padding><h3 style="font-weight: bold;">Deadpool</h3><h5 style="font-weight: bold;">¡Hola viejito! - 9:15 a.m</h5></ion-label>
      <ion-icon slot="end" src="/assets/recibido.svg"></ion-icon>
    </ion-item>
    <ion-item>
      <ion-avatar>
        <img src="/assets/spider-man.jpg" />
      </ion-avatar>
      <ion-label padding><h3 style="font-weight: bold;">Spider Man</h3><h5><strong>Tu: </strong>¡Hola Spider-Man! - 9:15 a.m</h5></ion-label>
      <ion-icon slot="end" src="/assets/entregado.svg"></ion-icon>
    </ion-item>

    <ion-item>
      <ion-avatar>
        <img src="/assets/wolverine.jpg" />
      </ion-avatar>
      <ion-label padding><h3 style="font-weight: bold;">Wolverine</h3><h5><strong>Tu: </strong>¿Cómo estás Wolverine? - 9:15 a.m</h5></ion-label>
      <ion-icon slot="end" src="/assets/Leído.svg"></ion-icon>
    </ion-item>

    <ion-item >
      <ion-avatar>
        <img src="/assets/captain.jpg" />
      </ion-avatar>
      <ion-label padding><h3 style="font-weight: bold;">Capitan America</h3><h5><strong>Tu: </strong>Gracias por tu trabajo - 9:15 a.m</h5></ion-label>
      <ion-icon slot="end" src="/assets/enviado.svg"></ion-icon>
    </ion-item>

    <ion-item>
      <ion-avatar>
        <img src="/assets/deadpool.jpg" />
      </ion-avatar>
      <ion-label padding><h3 style="font-weight: bold;">Deadpool</h3><h5 style="font-weight: bold;">¡Hola viejito! - 9:15 a.m</h5></ion-label>
      <ion-icon slot="end" src="/assets/recibido.svg" color="primary"></ion-icon>
    </ion-item>
  </ion-list>
</ion-content>

