<app-header titulo="chat"></app-header>

<ion-searchbar placeholder="Buscar" (ionChange)="buscar($event)" animated></ion-searchbar>

<ion-content>

  <ion-list>

    <ion-item (click)="abrirChat()" *ngFor="let c of contactos | async">
      <ion-avatar>
        <img [src]="c.img" />
      </ion-avatar>
      <ion-label padding><h3 style="font-weight: bold;">{{c.name}}</h3><h5><strong *ngIf="c.name != 'Deadpool'" >Tu: </strong> {{c.lastMessage}} - {{c.time}}</h5></ion-label>
      <ion-icon slot="end" [src]="c.state"></ion-icon>
    </ion-item>

    <!-- <ion-item>
      <ion-avatar>
        <img src="/assets/deadpool.jpg" />
      </ion-avatar>
      <ion-label padding><h3 style="font-weight: bold;">Deadpool</h3><h5 style="font-weight: bold;">¡Hola viejito! - 9:15 a.m</h5></ion-label>
      <ion-icon slot="end" src="/assets/recibido.svg"></ion-icon>
    </ion-item> -->

  </ion-list>

</ion-content>

