


<ion-content>

  <ion-row>
      <ion-col>
        <ion-img style="height: auto; max-width: 200vh; padding: 33px 27px 0px 25px" src="/assets/Logo.svg" ></ion-img>
      </ion-col>
  </ion-row>

  <form #formulario="ngForm" (ngSubmit)="Registrar()">

    <ion-list class="inputs" inset="true">
      <ion-item class="nombre" >
        <ion-input type="text" required autocomplete="on" autofocus="true" text-capitalize class="ion-text-center" placeholder="Nombre" [(ngModel)]="registro.nombre" name="nombre"></ion-input>
      </ion-item>
    
      <ion-item class="email" >
        <ion-input type="text" required autocomplete="on" text-capitalize class="ion-text-center" placeholder="Apellido" [(ngModel)]="registro.apellido" name="apellido" ></ion-input>
      </ion-item>    
  
      <ion-item class="email" >
        <ion-input required  autocomplete="on" class="ion-text-center" placeholder="E-mail" inputmode="email" pattern="^([a-zA-Z0-9_\-\.]+)@([a-zA-Z0-9_\-\.]+)\.([a-zA-Z]{2,5})$" type="email" [(ngModel)]="registro.email" name="email"></ion-input>
      </ion-item>    
  
      <ion-item class="password" >
        <ion-input required autocomplete="on" class="ion-text-center" placeholder="Contraseña"  type="password" [(ngModel)]="registro.password" name="password" ></ion-input>
      </ion-item>   
      
      <ion-item>
          <ion-label >Fecha de nacimiento</ion-label>
          <ion-datetime placeholder="Seleccionar"   display-format="DD MMMM YY" cancelText="Cancelar" [ngModel]="fechaNaci.toISOString()" name="diaNaci" (ionChange)="cambioFecha( $event )"></ion-datetime>
      </ion-item>
  
      <ion-item>
        <ion-segment mode="md" color="primary" (ionChange)="seleccionSexo($event)" [(ngModel)]="registro.sexo" name="sexo">
  
            <ion-segment-button mode="md" value="Hombre">
              <ion-label>Hombre</ion-label>
            </ion-segment-button>
  
            <ion-segment-button mode="md" value="Mujer">
              <ion-label>Mujer</ion-label>
            </ion-segment-button>
  
        </ion-segment>
      </ion-item>
        
    </ion-list>

    <ion-button class="RgButton" padding Expand="block" Fill="solid" color="tertiary" type="submit" (click)="onSubmitRegister()" [disabled]="formulario.invalid">Registrate</ion-button>

  </form>

  
   
   
  


  <ion-button class="FbButton" padding Expand="block" Fill="solid" color="secondary"  >Registrate con Facebook</ion-button> 

  <ion-list>
      <ion-item-divider mode="md" ></ion-item-divider>
  </ion-list>


 
  <ion-button padding Expand="block" Fill="solid" routerLink="/login" >Ya tengo cuenta</ion-button>
  

</ion-content>
