<ion-header>
    <ion-toolbar>
      
        <ion-buttons slot="start">
            <ion-back-button text="" (click)="closeChat()"  color="secondary" defaultHref="/tabs/chat"></ion-back-button>
         </ion-buttons>
  
         <ion-buttons slot="start" >
            <ion-button (click)="abrirPerfil()">
                <ion-avatar padding mode="md">
                    <img src="/assets/spider-man.jpg"  alt="">
                </ion-avatar>   
            </ion-button>
          </ion-buttons>
         
      
      <ion-title text-capitalize >{{chat.name}}</ion-title>

      <ion-buttons slot="end">
          <ion-button (click)="opciones()">
            <ion-icon color="secondary"  slot="icon-only" name="more"></ion-icon>
          </ion-button>
      </ion-buttons>

    </ion-toolbar>
  </ion-header>
  
   
  <ion-content>
    <ion-grid>
      <ion-row *ngFor="let message of messages">
        <ion-col size="9" *ngIf="currentUser !== message.user" class="message other-message">
          <b>{{ message.user }}</b><br>
          <span>{{ message.msg }}</span>
          <div class="time" text-right><br>
            {{ message.createdAt | date:'short'}}
          </div>
        </ion-col>
     
        <ion-col offset="3" size="9" *ngIf="currentUser === message.user" class="message my-message">
          <b>{{ message.user }}</b><br>
          <span>{{ message.msg }}</span>
          <div class="time" text-right><br>
            {{ message.createdAt | date:'short'}}
          </div>
        </ion-col>
     
      </ion-row>
    </ion-grid>
    </ion-content>
    
    <ion-footer>
      <ion-toolbar color="light">
        <ion-row align-items-center no-padding>
          <ion-col size="10">
            <ion-textarea autosize maxRows="4" [(ngModel)]="newMsg" class="message-input"></ion-textarea>
          </ion-col>
          <ion-col size="2">
            <ion-button (click)="sendMessage()" expand="block" fill="clear" color="primary" [disabled]="newMsg === ''" class="msg-btn">
              <ion-icon slot="icon-only" name="send"></ion-icon>
            </ion-button>
          </ion-col>
        </ion-row>
      </ion-toolbar>
    </ion-footer>
    