.mensajeEnviado{
  display: flex;
  flex-direction: row ;
  width: 45% !important;
  margin: 0 !important;
  margin-left: 190px !important;
}

.mensajeRecibido{
    display: flex;
    flex-direction: column;
    width: 45% !important;
    margin: 0 !important;
}

.textoMensajeRecibido{
  text-align: start !important;
}