.mensaje-profesional { 
  font-size: 25px !important;
  position: absolute;
  right: -10px;
  top: -14px;
}

.avatar-start {
  font-size: 25px !important;
  position: absolute;
  left: 0;
  top: -5px;
}


.ios .rate-icon{
  // color: var( --ion-color-dark ) !important;
  margin-left: 70px;
  // font-size: 12px;
  position: relative;
  // right: -10px;
  top: 1.5px;
}
.md .rate-icon{
  // color: var( --ion-color-dark ) !important;
  margin-left: 70px;
  // font-size: 12px;
  position: relative;
  // right: -10px;
  top: 3px;
}

.text-primary {
  color: var( --ion-color-dark ) !important;
  margin-left: 70px;
  text-transform: capitalize;
  font-weight: bold;
}

.profesional-profesion-name {
  font-size: 12px;
  color: gray;
  margin-left: 70px;
  text-transform: capitalize;
}

.profesional-profesion-description {
  position: absolute;
  top: 78px;
  font-size: 14px;
  color: black;
  font-weight: 400;
  // margin-left: 70px;
  text-transform: initial;
  margin-top: 2px;
}
.profesional-profesion-address {
  // margin-top: 5px;
  position: absolute;
  top: 110px;
  font-size: 9px;
  color: gray;
  text-transform: initial;
  margin-top: 2px;
}
.profesional-profesion-addressCol {
  // margin-top: 5px;
  position: absolute;
  top: 120px;
  font-size: 9px;
  color: gray;
  text-transform: initial;
  margin-top: 2px;
}
.profesional-profesion-city {
  // margin-top: 5px;
  position: absolute;
  top: 130px;
  font-size: 11px;
  color: gray;
  text-transform: initial;
  margin-top: 2px;
  font-weight: bold;
}

.rate {
  color: var( --ion-color-dark ) !important;
  // margin-left: 70px;
  font-size: 12px;
}