<ion-card mode="ios" >
    <!--*ngIf="noticia.urlToImage" Comente esta linea por que me daba problema--> 
    
  <ion-img [src]="noticia.img"  (click)="abrirNoticia()" ></ion-img>
  <ion-card-header mode="ios">
    <ion-card-subtitle>{{noticia.nombre}}</ion-card-subtitle>
    <ion-card-title (click)="abrirNoticia()">{{noticia.titulo}}</ion-card-title>
  </ion-card-header>
  
  <ion-card-content>
   {{noticia.descripcion}}
  </ion-card-content>
  
  <ion-item color="secondary">
      <ion-label>Categoria</ion-label>
      <ion-chip color="light">
        <ion-icon name="heart" color="light"></ion-icon>
        <ion-label>Salud</ion-label>
      </ion-chip>
  </ion-item>
</ion-card>
