<app-header titulo="notificaciones"></app-header>

<ion-content>

  <ion-list >
    <ion-list-header>
      <ion-label class="encabezado">Nuevas</ion-label>
    </ion-list-header>
      <ion-item *ngFor="let notificacion of notificaciones" lines="none" [color]="notificacion.color">

        <ion-avatar (click)="abrirPerfil()">
          <img [src]="notificacion.img" />
        </ion-avatar>

        <ion-label padding>
          <h3 style="font-weight: bold;">{{notificacion.name}}</h3>
          <h5>{{notificacion.subtitle}}</h5>
          <p>{{notificacion.description}}</p>
        </ion-label>

        <!-- <ion-icon slot="start" src="/assets/notificacion.svg" *ngIf="notificacion.state == 'recibido'"></ion-icon> -->
        <div class="icono">
            <ion-icon slot="icon-only" src="/assets/notificacion.svg" *ngIf="notificacion.state == 'recibido'"></ion-icon>
            <ion-icon slot="icon-only" src="/assets/notificacion-leida.svg" *ngIf="notificacion.state == 'leido'"></ion-icon>
        </div>
       

        <ion-buttons>
          <ion-button (click)="Opciones(notificacion)">
            <ion-icon slot="icon-only" name="more" style="color: #525456;"></ion-icon>
          </ion-button>
        </ion-buttons>

      </ion-item>
  </ion-list>

</ion-content>

