<app-header titulo="notificaciones"></app-header>

<ion-content>

  <ion-list >
    <ion-list-header>
      <ion-label class="encabezado">Nuevas</ion-label>
    </ion-list-header>
      <ion-item *ngFor="let n of notificaciones | async"  lines="none" [color]="n.color">

        <ion-avatar (click)="abrirPerfil()">
          <img [src]="n.img" />
        </ion-avatar>

        <ion-label padding><h3 style="font-weight: bold;">{{n.name}}</h3><h5>{{n.subtitle}}</h5><p>{{n.description}}</p></ion-label>
        <ion-icon slot="start" src="/assets/notificacion.svg" *ngIf="n.state == 'recibido'"></ion-icon>
        <ion-icon slot="start" src="/assets/notificacion-leida.svg" *ngIf="n.state == 'leido'"></ion-icon>

        <ion-buttons >
          <ion-button (click)="Opciones()">
            <ion-icon slot="icon-only" name="more" style="color: #525456;"></ion-icon>
          </ion-button>
        </ion-buttons>

        </ion-item>
  </ion-list>

</ion-content>

