<ion-header>
  <ion-toolbar>
    
      <ion-buttons slot="start">
          <ion-back-button text="" (click)="closeChat()"  color="secondary" defaultHref="/blog"></ion-back-button>
       </ion-buttons>       
    
    <ion-title text-capitalize >Crear entrada</ion-title>

    <ion-buttons slot="end">
       <ion-button (click)="publicar()" type="submit" [disabled]="formulario.invalid">
          PUBLICAR
       </ion-button>
    </ion-buttons>

  </ion-toolbar>
</ion-header>

<ion-content>
    <ion-card mode="ios" > 
        <ion-card-header>
          
      
            <div class=avatar-start>
              <ion-avatar  mode="md" slot="start">
                <img [src]="US.img" alt="">
              </ion-avatar>
            </div>
            
            <span class="nombre">{{US.Nombre}} {{US.Apellido}}</span>   
              
        </ion-card-header>
        
      </ion-card>

<form #formulario="ngForm" (ngSubmit)="publicar(event)">
  <ion-list>

    <ion-item>
      <ion-label position="floating">Titulo</ion-label>
      <ion-input type="text" [(ngModel)]="post.titulo" name="titulo" required></ion-input>
    </ion-item>
    
    <ion-item>
      <ion-label position="floating">Descripcion</ion-label>
      <!-- <ion-input type="text" ></ion-input> -->
      <ion-input [(ngModel)]="post.descripcion" name="descripcion" required></ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="floating">Url</ion-label>
      <ion-input type="text"  [(ngModel)]="post.url" name="url" required></ion-input>
    </ion-item>


    <!-- <ion-item>
      <ion-input name ="imgUrlpost" [(ngModel)]="imgUrlpost"  type="hidden" [value]="urlImage | async"></ion-input>
    </ion-item> -->

 
      <!-- <ion-label position="floating">Imagen</ion-label> -->
      

      <!-- <br>
      <ion-input type="file" accept=".png, .jpg" (change)="onSelectImg($event)" [(ngModel)]="post.imagen" name="imagen" required  ></ion-input>
      <ion-progress-bar color="primary" [value]="uploadPercent | async"></ion-progress-bar>
      <br> -->
   


    

  </ion-list>
 <ion-row>
   <ion-col size="6">
     
          <ion-button (click)="camara()" fill="outline" color="secondary" class="camara">
            <ion-icon slot="start" name="camera"></ion-icon>
            Camara
          </ion-button>


   </ion-col>
   <ion-col size="6">
      <ion-button (click)="galeria()" fill="outline"  color="secondary" class="galeria">
          <ion-icon slot="start" name="images"></ion-icon>
          Galeria
        </ion-button>


   </ion-col>
 </ion-row>
  <ion-list>
      <ion-list-header mode="ios">
          <ion-label>Categoria</ion-label>
        </ion-list-header>

        <ion-item (click)="onClick(check)"  *ngFor="let check of post.categoria">
            <ion-label>{{check.name}}</ion-label>
            <ion-checkbox [(ngModel)]="check.selected" [name] ="check.name" [color]="check.color" required></ion-checkbox>
          </ion-item>
  </ion-list>
</form>

</ion-content>