.nombre{
  font-size: 15pt !important;
  padding-left: 34%;
  /* padding-right: 41%; */
  position: absolute;
  padding-bottom: 0%;
  margin-bottom: -10%;
  top: 42%;
  font-weight: bold;
}

.cambiarFoto{
  font-size: 25px !important;
  position: absolute;
  // right: 64%;
  padding-left: 7%;
  padding-right: 5%;
  top: 48px;
}

.avatar-start {
  font-size: 25px !important;
  position: static;
  left: 17px;
  top: 12px;
}