<app-header2 titulo="Información"></app-header2>

<ion-content padding>
  <ion-grid fixed>
    <ion-row>
      <ion-col size="12">
        <ion-card>
            <ion-img src="/assets/brain.svg"></ion-img>
          <ion-card-header>
            <ion-card-title> ¿Quienes somos? </ion-card-title>
          </ion-card-header>
          <ion-card-content>
              Nákun es una startup mexicana que surge debido a una preocupación por la salud mental de la sociedad latinoamericana.
          </ion-card-content>
        </ion-card>
         

      </ion-col>
      <ion-col size="12">
          <ion-card>
              <ion-img src="/assets/psicologos.jpg"></ion-img>
              <ion-card-header>
                <ion-card-title> Nuestros psicólogos </ion-card-title>
              </ion-card-header>
              <ion-card-content>
                  Nuestros psicólogos están certificados y son altamente profesionales, dispuestos a ayudarte.
              </ion-card-content>
            </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>
 

</ion-content>