<ion-tabs>
    <ion-tab-bar slot="bottom" class="tabs-md">
      <ion-tab-button tab="plane"  class="tab-button-plane"> 
        <ion-icon name="ios-paper-plane" class="tab-button-icon-plane"></ion-icon>
        <ion-badge color="primary">6</ion-badge>
      </ion-tab-button>
  
      <ion-tab-button tab="home" class="tab-button-home">
        <ion-icon name="ios-image" class="tab-button-icon-home"></ion-icon>
        <ion-badge color="secondary">2</ion-badge>
      </ion-tab-button>
  
      <ion-tab-button tab="notificaciones" class="tab-button-notif">
        <ion-icon name="ios-notifications" class="tab-button-icon-notif"></ion-icon>
        <ion-badge color="tertiary">3</ion-badge>
      </ion-tab-button>
  
      <ion-tab-button tab="chat" class="tab-button-chat">
        <ion-icon name="ios-chatbubbles" class="tab-button-icon-chat"></ion-icon>
        <!-- <ion-badge color="danger">4</ion-badge> -->
      </ion-tab-button>
    </ion-tab-bar>
</ion-tabs>