<ion-tabs>
    <ion-tab-bar slot="bottom">
      <ion-tab-button tab="plane" > 
        <ion-icon name="ios-paper-plane"></ion-icon>
        <ion-badge color="danger">6</ion-badge>
      </ion-tab-button>
  
      <ion-tab-button tab="home">
        <ion-icon name="ios-image"></ion-icon>
        <ion-badge color="primary">2</ion-badge>
      </ion-tab-button>
  
      <ion-tab-button tab="notificaciones">
        <ion-icon name="ios-notifications"></ion-icon>
        <ion-badge color="tertiary">3</ion-badge>
      </ion-tab-button>
  
      <ion-tab-button tab="chat" >
        <ion-icon name="ios-chatbubbles"></ion-icon>
        <ion-badge color="secondary">4</ion-badge>
      </ion-tab-button>
    </ion-tab-bar>
</ion-tabs>