<app-header titulo="plane" [US]="US"></app-header>

<ion-content padding>
  <h1>Motiva a otros en su lucha</h1>
  <h3>Platicales lo bonito de la vida</h3>
  
  <ion-fab slot="fixed" vertical="bottom" horizontal="center">
    <ion-fab-button color="tertiary" mode="ios" (click)="nuevoPlane()">
      <ion-icon name="ios-paper-plane"></ion-icon>
    </ion-fab-button>
  </ion-fab>

  <ion-slides class="slide-full" mode="ios">

    <ion-slide *ngFor="let slide of slides">
      <ion-card mode="ios">
        <img [src]="slide.img" alt="" class="slide-image" />
        <ion-card-content>
          {{ slide.desc }}
        </ion-card-content>
      </ion-card>
    </ion-slide>

  </ion-slides>
</ion-content>
