// Ionic Variables and Theming. For more info, please see:
// http://ionicframework.com/docs/theming/

/** Ionic CSS Variables **/
:root {
  /** primary **/
  --ion-color-primary: #AECC67;
  --ion-color-primary-rgb: 56, 128, 255;
  --ion-color-primary-contrast: #ffffff;
  --ion-color-primary-contrast-rgb: 255, 255, 255;
  --ion-color-primary-shade: #0ec254;
  --ion-color-primary-tint: #4c8dff;

  /** secondary **/
  --ion-color-secondary:#4598CD;
  --ion-color-secondary-rgb: 12, 209, 232;
  --ion-color-secondary-contrast: #ffffff;
  --ion-color-secondary-contrast-rgb: 255, 255, 255;
  --ion-color-secondary-shade: #0bb8cc;
  --ion-color-secondary-tint: #24d6ea;
  
  /** tertiary **/
  --ion-color-tertiary: #F0E254;
  --ion-color-tertiary-rgb: 112, 68, 255;
  --ion-color-tertiary-contrast: #ffffff;
  --ion-color-tertiary-contrast-rgb: 255, 255, 255;
  --ion-color-tertiary-shade: #e0b500;
  --ion-color-tertiary-tint: #7e57ff;
  
  /** success **/
  --ion-color-success: #AECC67;
  --ion-color-success-rgb: 16, 220, 96;
  --ion-color-success-contrast: #ffffff;
  --ion-color-success-contrast-rgb: 255, 255, 255;
  --ion-color-success-shade: #0ec254;
  --ion-color-success-tint: #28e070;
  
  /** warning **/
  --ion-color-warning: #ffce00;
  --ion-color-warning-rgb: 255, 206, 0;
  --ion-color-warning-contrast: #ffffff;
  --ion-color-warning-contrast-rgb: 255, 255, 255;
  --ion-color-warning-shade: #e0b500;
  --ion-color-warning-tint: #ffd31a;
  
  /** danger **/
  --ion-color-danger: #f04141;
  --ion-color-danger-rgb: 245, 61, 61;
  --ion-color-danger-contrast: #ffffff;
  --ion-color-danger-contrast-rgb: 255, 255, 255;
  --ion-color-danger-shade: #d33939;
  --ion-color-danger-tint: #f25454;
  
  /** dark **/
  --ion-color-dark: #222428;
  --ion-color-dark-rgb: 34, 34, 34;
  --ion-color-dark-contrast: #ffffff;
  --ion-color-dark-contrast-rgb: 255, 255, 255;
  --ion-color-dark-shade: #1e2023;
  --ion-color-dark-tint: #383a3e;
  
  /** medium **/
  --ion-color-medium: #989aa2;
  --ion-color-medium-rgb: 152, 154, 162;
  --ion-color-medium-contrast: #ffffff;
  --ion-color-medium-contrast-rgb: 255, 255, 255;
  --ion-color-medium-shade: #86888f;
  --ion-color-medium-tint: #a2a4ab;
  
  /** light **/
  --ion-color-light: #f4f5f8;
  --ion-color-light-rgb: 244, 244, 244;
  --ion-color-light-contrast: #000000;
  --ion-color-light-contrast-rgb: 0, 0, 0;
  --ion-color-light-shade: #f4f5f8;
  --ion-color-light-tint: #f5f6f9;
  
  // recibido
  --ion-color-recibido: rgb(240,227,84,.123);
  --ion-color-recibido-rgb: 0,128,255;
  --ion-color-recibido-contrast: #000000;
  --ion-color-recibido-contrast-rgb: 255,255,255;
  --ion-color-recibido-shade: #0071e0;
  --ion-color-recibido-tint: #20282f;
  
  /** textArea **/
  --ion-color-textArea:#4598CD;
  --ion-color-textArea-rgb: 12, 209, 232;
  --ion-color-textArea-contrast: #ffffff;
  --ion-color-textArea-contrast-rgb: 255, 255, 255;
  --ion-color-textArea-shade: #0bb8cc;
  --ion-color-textArea-tint: #24d6ea;

  /** darkInvertido **/
  --ion-color-darkInvertido: #FFFFFF;
  --ion-color-darkInvertido-rgb: 34, 34, 34;
  --ion-color-darkInvertido-contrast: #222428;
  --ion-color-darkInvertido-contrast-rgb: 255, 255, 255;
  --ion-color-darkInvertido-shade: #C8C7CC;
  --ion-color-darkInvertido-tint: #383a3e;

  /** dangerInvertido **/
  --ion-color-dangerInvertido: #ffffff;
  --ion-color-dangerInvertido-rgb: 245, 61, 61;
  --ion-color-dangerInvertido-contrast: #f04141;
  --ion-color-dangerInvertido-contrast-rgb: 255, 255, 255;
  --ion-color-dangerInvertido-shade: #d33939;
  --ion-color-dangerInvertido-tint: #f25454;

   /** tertiaryInverted **/
   --ion-color-tertiaryInverted: #e0b500;;
   --ion-color-tertiaryInverted-rgb: 112, 68, 255;
   --ion-color-tertiaryInverted-contrast: #F0E254;
   --ion-color-tertiaryInverted-contrast-rgb: 255, 255, 255;
   --ion-color-tertiaryInverted-shade: #FFFFFF;
   --ion-color-tertiaryInverted-tint: #7e57ff;

     // messenger
  --ion-color-messenger: #0080ff ;
  --ion-color-messenger-rgb: 0,128,255;
  --ion-color-messenger-contrast: #ffffff;
  --ion-color-messenger-contrast-rgb: 255,255,255;
  --ion-color-messenger-shade: #0071e0;
  --ion-color-messenger-tint: #1a8dff;

    /** primaryInverted **/
    --ion-color-primaryInverted: #ffffff;
    --ion-color-primaryInverted-rgb: 56, 128, 255;
    --ion-color-primaryInverted-contrast: #AECC67;
    --ion-color-primaryInverted-contrast-rgb: 255, 255, 255;
    --ion-color-primaryInverted-shade: #0ec254;
    --ion-color-primaryInverted-tint: #4c8dff;
}

.ion-color-recibido {
  --ion-color-base: var(--ion-color-recibido) !important;
  --ion-color-base-rgb: var(--ion-color-recibido-rgb) !important;
  --ion-color-contrast: var(--ion-color-recibido-contrast) !important;
  --ion-color-contrast-rgb: var(--ion-color-recibido-contrast-rgb) !important;
  --ion-color-shade: var(--ion-color-recibido-shade) !important;
  --ion-color-tint: var(--ion-color-recibido-tint) !important;
}
.ion-color-tertiaryInverted {
  --ion-color-base: var(--ion-color-tertiaryInverted) !important;
  --ion-color-base-rgb: var(--ion-color-tertiaryInverted-rgb) !important;
  --ion-color-contrast: var(--ion-color-tertiaryInverted-contrast) !important;
  --ion-color-contrast-rgb: var(--ion-color-tertiaryInverted-contrast-rgb) !important;
  --ion-color-shade: var(--ion-color-tertiaryInverted-shade) !important;
  --ion-color-tint: var(--ion-color-tertiaryInverted-tint) !important;
}
.ion-color-textArea {
  --ion-color-base: var(--ion-color-textArea) !important;
  --ion-color-base-rgb: var(--ion-color-textArea-rgb) !important;
  --ion-color-contrast: var(--ion-color-textArea-contrast) !important;
  --ion-color-contrast-rgb: var(--ion-color-textArea-contrast-rgb) !important;
  --ion-color-shade: var(--ion-color-textArea-shade) !important;
  --ion-color-tint: var(--ion-color-textArea-tint) !important;
}
.ion-color-darkInvertido {
  --ion-color-base: var(--ion-color-darkInvertido) !important;
  --ion-color-base-rgb: var(--ion-color-darkInvertido-rgb) !important;
  --ion-color-contrast: var(--ion-color-darkInvertido-contrast) !important;
  --ion-color-contrast-rgb: var(--ion-color-darkInvertido-contrast-rgb) !important;
  --ion-color-shade: var(--ion-color-darkInvertido-shade) !important;
  --ion-color-tint: var(--ion-color-darkInvertido-tint) !important;
}
.ion-color-dangerInvertido {
  --ion-color-base: var(--ion-color-dangerInvertido) !important;
  --ion-color-base-rgb: var(--ion-color-dangerInvertido-rgb) !important;
  --ion-color-contrast: var(--ion-color-dangerInvertido-contrast) !important;
  --ion-color-contrast-rgb: var(--ion-color-dangerInvertido-contrast-rgb) !important;
  --ion-color-shade: var(--ion-color-dangerInvertido-shade) !important;
  --ion-color-tint: var(--ion-color-dangerInvertido-tint) !important;
}

.ion-color-messenger {
  --ion-color-base: var(--ion-color-messenger) !important;
  --ion-color-base-rgb: var(--ion-color-messenger-rgb) !important;
  --ion-color-contrast: var(--ion-color-messenger-contrast) !important;
  --ion-color-contrast-rgb: var(--ion-color-messenger-contrast-rgb) !important;
  --ion-color-shade: var(--ion-color-messenger-shade) !important;
  --ion-color-tint: var(--ion-color-messenger-tint) !important;
}

.ion-color-primaryInverted {
  --ion-color-base: var(--ion-color-primaryInverted) !important;
  --ion-color-base-rgb: var(--ion-color-primaryInverted-rgb) !important;
  --ion-color-contrast: var(--ion-color-primaryInverted-contrast) !important;
  --ion-color-contrast-rgb: var(--ion-color-primaryInverted-contrast-rgb) !important;
  --ion-color-shade: var(--ion-color-primaryInverted-shade) !important;
  --ion-color-tint: var(--ion-color-primaryInverted-tint) !important;
}