


<ion-content>

  <ion-row>
      <ion-col>
        <ion-img style="height: auto; max-width: 200vh; padding: 33px 27px 0px 25px" src="/assets/Logo.svg" ></ion-img>
      </ion-col>
  </ion-row>


  <form #formulario="ngForm" (ngSubmit)="Login()">


    <ion-list class="inputs" inset="true">

      <ion-item class="primero" >
        <ion-input required type="email" [(ngModel)]="usuario.email" name="email" autocomplete="on" autofocus="true" class="ion-text-center" placeholder="Email" inputmode="email" pattern="^([a-zA-Z0-9_\-\.]+)@([a-zA-Z0-9_\-\.]+)\.([a-zA-Z]{2,5})$"></ion-input>
      </ion-item>
    
      <ion-item class="segundo" >
        <ion-input required  autocomplete="on" class="ion-text-center" [(ngModel)]="usuario.password" placeholder="Contraseña" type="password" name="password"></ion-input>
      </ion-item>    

      
    </ion-list>
    
    <ion-button (click)="Login()" padding Expand="block" Fill="solid" type="submit" [disabled]="formulario.invalid">Inicia Sesión</ion-button>

    
  </form>

   
  <ion-button padding Expand="block" Fill="clear" class="FgButton">¿Olvidaste tu contraseña?</ion-button>

  <ion-list>
      <ion-item-divider mode="md" ></ion-item-divider>
  </ion-list>

  <ion-button class="FbButton" padding Expand="block" Fill="solid" color="secondary" >Inicia sesión con Facebook</ion-button>

  <ion-list>
    <ion-item-divider mode="md"></ion-item-divider>
  </ion-list>

  <h5 class="ion-text-center" >¿No tienes cuenta?</h5> 
  <ion-button class="RgButton" padding Expand="block" Fill="solid" color="tertiary" routerLink="/registro">Registrate</ion-button>

</ion-content>
