ion-content{
  --ion-background-color:#F8FEE4;
}
.primero{
  --ion-background-color: #ffffff;
}
.segundo{
  --ion-background-color: #ffffff;
  padding-top: 7px;
}

img{
  max-height: 30vh;
  padding-bottom: 20px;
}

ion-item-divider{
  --inner-padding-bottom: 3px;
}

.FbButton{
  margin-bottom: 19px;
  margin-top: 19px;
}

.FgButton{
  margin-top: 21px;
  margin-bottom: 2px;
  padding: initial;
}

.RgButton{
  padding-bottom: var(--ion-padding, 36px);
  padding-top: var(--ion-padding, 5px);
}

.inputs{
  padding-top: 20px;
}

p{
  font-size: 9pt;
  font-weight: bold;
}

h5{
  padding-bottom: 0pt;
}