<app-header2 titulo="blog"></app-header2>
<!-- <ion-toolbar>
  <ion-title text-center>Mis entradas</ion-title>
</ion-toolbar> -->

<ion-content padding>
  <ion-refresher slot="fixed" (ionRefresh)="doRefresh($event)">
    <ion-refresher-content pulling-icon="null" refreshing-spinner="crescent"></ion-refresher-content>
</ion-refresher>

<!-- <app-destacados [destacados]="destacados"></app-destacados>   -->

<ion-grid fixed>
    <ion-row>
  
      <ion-col size="12" size-lg="3" size-md="4" size-sm="6" size-xs="12">

          <ion-card mode="ios" >
              <!--*ngIf="noticia.urlToImage" Comente esta linea por que me daba problema--> 
              
            <ion-img src="/assets/psicologo.jpg"  (click)="abrirNoticia()" ></ion-img>
            <ion-card-header mode="ios">
              <ion-card-subtitle>Creado por mi</ion-card-subtitle>
              <ion-card-title (click)="abrirNoticia()">Violencia en casa</ion-card-title>
            </ion-card-header>
            
            <ion-card-content>
             Los niños sufren de violencia intrafamiliar
            </ion-card-content>
            
            <ion-item color="secondary">
                <ion-label>Categoria</ion-label>
                <ion-chip color="light">
                  <ion-icon name="contacts" color="light"></ion-icon>
                  <ion-label>Familia</ion-label>
                </ion-chip>
            </ion-item>
          </ion-card>


          <ion-card mode="ios" >
              <!--*ngIf="noticia.urlToImage" Comente esta linea por que me daba problema--> 
              
            <ion-img src="/assets/psicologo.jpg"  (click)="abrirNoticia()" ></ion-img>
            <ion-card-header mode="ios">
              <ion-card-subtitle>Creado por mi</ion-card-subtitle>
              <ion-card-title (click)="abrirNoticia()">Violencia en trabajo</ion-card-title>
            </ion-card-header>
            
            <ion-card-content>
             Los trabajadores sufren 
            </ion-card-content>
            
            <ion-item color="tertiary">
                <ion-label>Categoria</ion-label>
                <ion-chip color="light">
                  <ion-icon name="flask" color="light"></ion-icon>
                  <ion-label>Trabajo</ion-label>
                </ion-chip>
            </ion-item>
          </ion-card>

  
      </ion-col>
  
    </ion-row>
  </ion-grid>

<ion-fab slot="fixed" vertical="bottom" horizontal="end">

  <ion-fab-button color="secondary" (click)="nuevoPost()">
    <ion-icon name="add"></ion-icon>
  </ion-fab-button>

</ion-fab>

<ion-infinite-scroll threshold="150px" (ionInfinite)="loadData($event)">
  <ion-infinite-scroll-content loadingSpinner="crescent" loadingText="Cargando">
  </ion-infinite-scroll-content>
</ion-infinite-scroll>
</ion-content>

<ion-footer>
  <ion-toolbar color="secondary">
    <ion-title text-center>Mis entradas</ion-title>
  </ion-toolbar>
</ion-footer>