
<app-header titulo="inicio"></app-header>

<ion-toolbar slot="top">
    <ion-segment mode="md" color="secondary" (ionChange)="seleccionSegmento($event)">

        <ion-segment-button mode="md" value="destacado" routerLink="/tabs/home">
          <ion-label>Destacado</ion-label>
        </ion-segment-button>

        <ion-segment-button mode="md" value="profesional">
          <ion-label>Profesionales</ion-label>
        </ion-segment-button>
    </ion-segment>
</ion-toolbar>



<ion-content padding>
  <ion-refresher slot="fixed" (ionRefresh)="doRefresh($event)">
      <ion-refresher-content></ion-refresher-content>
  </ion-refresher>

  <app-destacados [destacados]="destacados"></app-destacados>  
  
  <app-profesionales [profesionales]="profesionales"></app-profesionales>
  
  <ion-infinite-scroll threshold="150px" (ionInfinite)="loadData($event)">
    <ion-infinite-scroll-content loadingSpinner="crescent" loadingText="Cargando">
    </ion-infinite-scroll-content>
  </ion-infinite-scroll>

</ion-content>

