<app-header2 titulo="Planes"></app-header2>

<ion-grid fixed>
  <ion-row>
    <ion-col size="12">
      <ion-card  mode="ios" color="">
        <ion-card-header>
          <ion-card-subtitle>39.99 USD por consulta</ion-card-subtitle>
          <ion-card-title color="primary">Freemium</ion-card-title>
        </ion-card-header>
        <ion-card-content>
          El usuario <strong style="color: var(--ion-color-primary);">Freemium</strong> tiene derecho a:
          <br>
          <ul>
            <li>1 consulta por mes gratis</li>
          </ul>
        </ion-card-content>
      </ion-card>
    </ion-col>
  </ion-row>
  <!-- <ion-button (click)="onClick()" expand="block" fill="outline">
    
  </ion-button> -->
  <ion-row>
    <ion-col size="12">
      <ion-card mode="ios" color="primary">
        <ion-card-header>
          <ion-card-subtitle>129.99 USD por mes</ion-card-subtitle>
          <ion-card-title>Premium</ion-card-title>
        </ion-card-header>
        <ion-card-content>
            El usuario <strong style="font-weight: bold;">Premium</strong> tiene derecho a:
            <br>
            <ul>
              <li>4 consultas por mes</li>
              <li>Atención personalizada</li>
            </ul>
        </ion-card-content>
      </ion-card>
    </ion-col>
  </ion-row>
</ion-grid>